In [85]:
from utils import get_current_dir
import pandas as pd

inputpath = get_current_dir().parent / "data" / "artvis_cleaned.csv"
df = pd.read_csv(inputpath)

df.head()

,a.id,a.firstname,a.lastname,a.gender,a.birthdate,a.deathdate,a.birthplace,a.deathplace,a.nationality,e.id,e.title,e.venue,e.startdate,e.type,e.paintings,e.country,e.city,e.latitude,e.longitude
0,1,William Bernard,Adeney,M,1878-01-01,1966-01-01,London,London,GB,618,Exhibition of the Camden Town Group and Others,Public Art Galleries,1913,group,6,GB,Brighton,50.833333,-0.150000
1,1,William Bernard,Adeney,M,1878-01-01,1966-01-01,London,London,GB,720,The Second Exhibition of Works by Members of t...,Goupil Gallery,1915,group,4,GB,London,51.514248,-0.093145
2,1,William Bernard,Adeney,M,1878-01-01,1966-01-01,London,London,GB,729,Third Exhibition of Works by Members of the Lo...,Goupil Gallery,1915,group,5,GB,London,51.514248,-0.093145
3,1,William Bernard,Adeney,M,1878-01-01,1966-01-01,London,London,GB,650,The First Exhibition of Works by Members of Th...,Goupil Gallery,1914,group,5,GB,London,51.514248,-0.093145
4,1,William Bernard,Adeney,M,1878-01-01,1966-01-01,London,London,GB,680,Twentieth Century Art. A Review of Modern Move...,Whitechapel Art Gallery,1914,group,3,GB,London,51.514248,-0.093145

In [86]:
print(df.head())
print(df.columns)
print(df.dtypes)

   a.id      a.firstname a.lastname a.gender a.birthdate a.deathdate  \
0     1  William Bernard     Adeney        M  1878-01-01  1966-01-01
1     1  William Bernard     Adeney        M  1878-01-01  1966-01-01
2     1  William Bernard     Adeney        M  1878-01-01  1966-01-01
3     1  William Bernard     Adeney        M  1878-01-01  1966-01-01
4     1  William Bernard     Adeney        M  1878-01-01  1966-01-01

  a.birthplace a.deathplace a.nationality  e.id  \
0       London       London            GB   618
1       London       London            GB   720
2       London       London            GB   729
3       London       London            GB   650
4       London       London            GB   680

                                             e.title                  e.venue  \
0     Exhibition of the Camden Town Group and Others     Public Art Galleries
1  The Second Exhibition of Works by Members of t...           Goupil Gallery
2  Third Exhibition of Works by Members of the Lo...           Goupil Gallery
3  The First Exhibition of Works by Members of Th...           Goupil Gallery
4  Twentieth Century Art. A Review of Modern Move...  Whitechapel Art Gallery

   e.startdate e.type  e.paintings e.country    e.city  e.latitude  \
0         1913  group            6        GB  Brighton   50.833333
1         1915  group            4        GB    London   51.514248
2         1915  group            5        GB    London   51.514248
3         1914  group            5        GB    London   51.514248
4         1914  group            3        GB    London   51.514248

   e.longitude
0    -0.150000
1    -0.093145
2    -0.093145
3    -0.093145
4    -0.093145
Index(['a.id', 'a.firstname', 'a.lastname', 'a.gender', 'a.birthdate',
       'a.deathdate', 'a.birthplace', 'a.deathplace', 'a.nationality', 'e.id',
       'e.title', 'e.venue', 'e.startdate', 'e.type', 'e.paintings',
       'e.country', 'e.city', 'e.latitude', 'e.longitude'],
      dtype='object')
a.id               int64
a.firstname       object
a.lastname        object
a.gender          object
a.birthdate       object
a.deathdate       object
a.birthplace      object
a.deathplace      object
a.nationality     object
e.id               int64
e.title           object
e.venue           object
e.startdate        int64
e.type            object
e.paintings        int64
e.country         object
e.city            object
e.latitude       float64
e.longitude      float64
dtype: object

In [ ]:
# first do some basic plots with matplotlib


# https://altair-viz.github.io/ -> check out: linking, brushing
# make sure to `alt.data_transformers.disable_max_rows()` for `maxrowserror`